html {
    font-size: 22px
}
body {
    background-color: #172f3a;
    color: whitesmoke;
}
.about{
    text-align: center;
    color:rgb(155, 192, 22);
} 
a{
    color: aliceblue;
}
a:visited{
    color: lightgray;
}
a:hover{
    color: rgb(192, 41, 116);
}
table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}